﻿@{
    ViewBag.Title = "Insert";
}
@using MVCForms.Models
@model FormsModel

<h2>Insert</h2>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@using (Html.BeginForm("Insert", "Form", FormMethod.Post))
{
    <table class="table table-striped">
        <tr>
            <td>
                @Html.Label("Name", "Name : ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.Name)
            </td>
            <td>
                @Html.ValidationMessage("Name","")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Email","Email : ")
            </td>
            <td>
                 @Html.TextBoxFor(x=>x.Email)
            </td>
            <td>
                @Html.ValidationMessage("Name","")
            </td>
        </tr>
        <tr>
             <td>
                @Html.Label("Gender","Gender : ")
            </td>
            <td>
                 @Html.DropDownListFor(x=>x.Gender,new SelectList(Enum.GetValues(typeof(MVCForms.Models.FormsModel.Genders))),"Select Gender")
            </td>
        </tr>
        @*<tr>
            <td>
                @Html.Label("DOB","Date of Birth : ")
            </td>
            <td>
               
            </td>
        </tr>*@
        
        <tr>
            <td>
                @Html.Label("Pswd","Password : ")
            </td>
            <td>
               @Html.PasswordFor(x=>x.Pswd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("RetypePswd","Retypre-Password : ")
            </td>
            <td>
                @Html.PasswordFor(x=>x.RetyPswd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Home_Address","Home Address : ")
            </td>
            <td>
               @Html.TextAreaFor(x=>x.Home_Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Office_Address","Office Address : ")
            </td>
            <td>
                @Html.TextAreaFor(x=>x.Office_Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Mobile_Number","Mobile Number : ")
            </td>
            <td>
                @Html.TextBoxFor(x=>x.Mobile_Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Phone_Number","Phone Number : ")
            </td>
            <td>
                @Html.TextBoxFor(x=>x.Phone_Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("State","State : ")
            </td>
            <td>
                @Html.TextBoxFor(x=>x.State)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("City","City : ")
            </td>
            <td>
                @Html.TextBoxFor(x=>x.City)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-default" value="Submit"/>
            </td>
        </tr>
    </table> 
}
<script type="text/javascript">
    
</script>