﻿@model List<MVCForms.Models.FormsModel>
<html>
<head>
    <title>Select </title>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>
    @Html.ActionLink("Add New", "Insert", "", new {@class="btn btn-default"})
<body>
    <table class="table table-striped" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th>Action</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@Html.ActionLink("Update", "Update", new { id=item.Id})</td>
                <td>@Html.ActionLink("Details", "GetAllFormData", new { id=item.Id})</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id=item.Id})</td>
            </tr> 
        }
    </table>
</body>
</html>
