﻿@model MVCForms.Models.FormsModel

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (@Html.BeginForm("Update", "Form", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
   
    <table>
        
        <tr>
            <td>@Html.Label("Name", "Name : ")</td>
            <td>@Html.TextBoxFor(x => x.Name)</td>
        </tr>
        <tr>
            <td>@Html.Label("Email", "Email : ")</td>
            <td>@Html.TextBoxFor(x => x.Email)</td>
        </tr>
        <tr>
             <td>
                @Html.Label("Gender", "Gender : ")
            </td>
            <td>
                 @Html.DropDownListFor(x => x.Gender, new SelectList(Enum.GetValues(typeof(MVCForms.Models.FormsModel.Genders))), "Select Gender")
            </td>
        </tr>
        @*<tr>
            <td>
                @Html.Label("DOB","Date of Birth : ")
            </td>
            <td>
               
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.Label("Pswd", "Password : ")
            </td>
            <td>
               @Html.TextBoxFor(x => x.Pswd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("RetypePswd", "Retypre-Password : ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.RetyPswd)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Home_Address", "Home Address : ")
            </td>
            <td>
               @Html.TextAreaFor(x => x.Home_Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Office_Address", "Office Address : ")
            </td>
            <td>
                @Html.TextAreaFor(x => x.Office_Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Mobile_Number", "Mobile Number : ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.Mobile_Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Phone_Number", "Phone Number : ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.Phone_Number)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("State", "State : ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.State)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("City", "City : ")
            </td>
            <td>
                @Html.TextBoxFor(x => x.City)
            </td>
        </tr>
        <tr>
            <input id="Submit1" type="submit" value="update" />
        </tr>
    </table> 
}