﻿@model MVCForms.Models.FormsModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (@Html.BeginForm("Delete", "Form", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.Label("Delete", "Delete")
            </td>
            <td>@Html.TextBoxFor(x => x.Id)</td>
        </tr>
        <tr>
            <td>
                <input id="Submit1" type="submit" value="Delete" />
            </td>
            <td>@Html.ActionLink("Return to Display All data","Select")</td>
        </tr>
    </table>
}