﻿@{
    ViewBag.Title = "GetAllFormData";
}

<h2>GetAllFormData</h2>
@Html.ActionLink("Return to main","Select")
<table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Home_Address</th>
            <th>Office_Address</th>
            <th>Mobile_Number</th>
            <th>Phone_Number</th>
            <th>State</th>
            <th>City</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Home_Address</td>
                <td>@item.Office_Address</td>
                <td>@item.Mobile_Number</td>
                <td>@item.Phone_Number</td>
                <td>@item.State</td>
                <td>@item.City</td>
            </tr> 
        }
    </table>